/*
  -Flex box uses form as a container in a row format
  each item other than answer choices takes the eintire row width
  -the answer choices split the flex's row width
  */
form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
  margin-left: 15%;
  border: solid red 10px;
}
#title{
  flex-basis: 100%;
}
.seperator1{
  flex-basis: 100%;
  border: solid green 5px;
}
.name{
  flex-basis: 100%;
  text-align: center;
}
.seperator2{
  flex-basis: 100%;
  border: solid green 5px;
}
#grainHeader{
  flex-basis: 100%;
  text-align: center;
}
#mac{
  flex-basis: 25%;
}
#riceBeans{
  flex-basis: 25%;
}
.seperator3{
  flex-basis: 100%;
  border: solid green 5px;
}
#veggieHeader{
  flex-basis: 100%;
  text-align: center;
}
#broc{
  flex-basis: 35%;
}
#greenBeans{
  flex-basis: 35%;
}
.seperator4{
  flex-basis: 100%;
  border: solid green 5px;
}
#proteinHeader{
  flex-basis: 100%;
  text-align: center;
}
#salmon{
  flex-basis: 25%;
}
#brisket{
  flex-basis: 25%;
}
#submit{
  flex-basis: 100%;
}
